<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mumbai</title>
     <style>
    body{
        background-image: linear-gradient(to bottom,blue,green);
    }
    </style>
</head>

<body>
    <section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241317.116099006!2d72.74109925453992!3d19.0821978390515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1635415288711!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
    <p>Day 1: Arrival in Mumbai</p>
    <p>Day 2-5: Sightseeing in Mumbai</p>
    <p>Day 6: Departure from Mumbai</p>
    <button> <a href="mumbai_book"> Book Now! </a> </button>
</body>

</html>